{% extends 'blog/base.html' %}

{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
	
	<!--  {{ form.as_p }}   !-->
				
				  
					<div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="id_title">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Title" id="id_title"  required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    
					
                 
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="id_text">Text</label>
                            <textarea rows="5" class="form-control" name="text" placeholder="Message" id="id_text" required data-validation-required-message="Please enter a Comment."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

        
  

			
					
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}