{% extends 'blog/base.html' %}

{% block content %}

					{% for post in posts %}
			            <h2 class="post-title">
                            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                        </h2>
						{{ post.text|linebreaks }}
				
					<p class="post-meta">Posted by <a href="http://srinaveen.appspot.com">Srinaveen Desu</a> on {{ post.published_date }}</p>
					<a href="{% url 'melaongo.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
					<hr>
					{% endfor %}


    <!-- Comment section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
				
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	
{% endblock content %}